/* Go the extra mile, its never crowded. */
body {
	font-family: arial,sans-serif;
	}
a:hover {
	text-decoration:underline;
	}
nav {
	float: right;
	width: 280px;
	margin-top: 24px;
	margin-right: 20px;
	font-size: .8em;
}
nav a {
	color: #222;
	display: block;
	float:left;
	margin: 0px 8px;
	}
.apps {
	text-indent: -9999px;
	height: 16px;
	width: 16px;
	background: url(../images/apps.png);
	margin-top:5px;
	}
.signin {
	font-weight: bold;
	color: #FFF;
	background: #4485f4;
	padding: 8px 10px;
	border-style: none;
	border-radius: 2px;
	}
.l {
	line-height: 25px;	
	}
.signin:hover {
	text-decoration:none;
	}
.center {
	width:650px;
	height:400px;
	position:absolute;
    z-index: 0;
	left:50%;
	top:50%;
	margin:-200px 0 0 -325px;
	text-align:center;
}
.search {
	width:90%;
	height:26px;
	border-top: 1px solid #c0c0c0;
	border-right: 1px solid #c0c0c0;
	border-bottom: 1px solid #d9d9d9;
	border-left: 1px solid #d9d9d9;
	background: url(../images/micro.png) no-repeat 99% center;
	margin-top: 20px;
	margin-bottom: 15px;
    color: gainsboro;
	}
.button {
	font-size: .7em;
	font-weight: bold;
	color: #444444;
	background: #f4f4f4;
	height: 30px;
	border: 1px solid #dbdbdb;
	padding: 3px 7px;
	margin: 0px 6px;
	}
p {
	font-size: .8em;
	color: #222;
	margin-top: 35px;
}
a {
	text-decoration: none;
	margin-right: 4px;
	margin-left: 4px;
}
.doodle {
    margin-left: 50px;
	width:300px;
	height:105px;
    background-image: url(../images/ontwerp-google-doodle3.png);
    background-repeat: no-repeat;
    -webkit-animation: breilap 10s linear;
    -moz-animation: breilap 10s linear;
    -o-animation: breilap 10s linear;
	}
.breinaalden
{
    background-image: url(../images/breinaalden.png);
    margin-left: 400px; 
    height: 120px;
    width: 120px;
    background-repeat: no-repeat;
    -webkit-animation: breien 1s steps(6) infinite;
    -moz-animation: breien 1s steps(6) infinite;
    -o-animation: breien 1s steps(6) infinite;
}
@-webkit-keyframes breien
{
    0% {
        background-position: 0 0;
    }
    100%
    { background-position: -720px 0;
}
}
@-moz-keyframes breien
{
    0% {
        background-position: 0 0;
    }
    100%
    { background-position: -720px 0;
}
}
@-o-keyframes breien
{
    0% {
        background-position: 0 0;
    }
    100%
    { background-position: -720px 0;
}
}
@-webkit-keyframes breilap
{
    0% {
        background-position: 0 105px;}
    100%
    { background-position: 0 0;
    }
}
@-moz-keyframes breilap
{
    0% {
        background-position: 0 105px;}
    100%
    { background-position: 0 0;
    }
}
@-o-keyframes breilap
{
    0% {
        background-position: 0 105px;}
    100%
    { background-position: 0 0;
    }
}